<%= link_to "Create New Cocktail", new_cocktail_path  %>

<h1>Welcome to Drinky-Drinks</h1>

<% @cocktails.each do |cocktail| %>
<h3><%= link_to cocktail.name, cocktail_path(cocktail)  %></h3>
<% end %>
